{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}
{% load webpack_loader %}

{% block title %}{% trans "Authorization" %}{% endblock %}

{% block head %}{% render_bundle 'common_logged_out' 'css' %}{% endblock %}

{% block main_content %}
    <h1 class="text-primary">
        {% trans "An app want to access your data" %}
    </h1>

    {% if not error %}
        <form id="authorizationForm" method="post">
            <h3 class="block-center-heading"></h3>
            {% csrf_token %}

            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% endif %}
            {% endfor %}

            <p>
                {% blocktrans with application.name as name %}
                    <span class="highlight">{{ name }}</span> requires access to your Paper Matter organization with the following permissions:
                {% endblocktrans %}
            </p>
            <ul>
                {% for scope in scopes_descriptions %}
                    <li>{% trans scope %}</li>
                {% endfor %}
            </ul>

            {{ form.errors }}
            {{ form.non_field_errors }}

            <div class="d-flex justify-content-end">
                <input type="submit" class="mx-1 btn btn-secondary" value="{% trans 'Cancel' %}"/>
                <input type="submit" class="mx-1 btn btn-large btn-primary" name="allow"
                       value="{% trans 'Authorize' %}"/>
            </div>
        </form>

    {% else %}
        <h2>Error: {{ error.error }}</h2>
        <p>{{ error.description }}</p>
    {% endif %}
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "locked.svg" %}" alt="Access locked illustration">
{% endblock %}
