{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}
{% load webpack_loader %}

{% block title %}{% trans "Authorization successful" %}{% endblock %}

{% block head %}{% render_bundle 'common_logged_out' 'css' %}{% endblock %}

{% block main_content %}
    <h1 class="text-primary">
        {% blocktrans %}
            Authorization successful
        {% endblocktrans %}
    </h1>
    <p>
        {% if request.GET.app_name %}
            {% blocktrans with app_name=request.GET.app_name %}
                <span class="highlight">{{ app_name }}</span> application has been authorized.
            {% endblocktrans %}
        {% else %}
            {% trans "Application has been authorized." %}
        {% endif %}
    </p>
    <p>
        {% trans "You can now close this window and go back to application." %}
    </p>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "unlock_success.svg" %}" alt="Access locked illustration">
{% endblock %}
