{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}
{% load webpack_loader %}

{% block title %}{% trans "Authorization successful" %}{% endblock %}

{% block head %}{% render_bundle 'common_logged_out' 'css' %}{% endblock %}

{% block main_content %}
    <h1 class="text-primary">
        {% blocktrans %}
            Authorization successful
        {% endblocktrans %}
    </h1>

    <div>
        <p>{% blocktrans %}
            Your application has been authenticated. You can now close your browser.
        {% endblocktrans %}</p>
    </div>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "oauth2.svg" %}" alt="Signup steps illustration">
{% endblock %}
