{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Step 2/2: create the administrator' %}{% endblock %}

{% block main_content %}
    <form method="post" id="admin-form">
        <h1 class="text-primary">{% trans "One more thing..." %}</h1>
        <div class="breadcrumb">
            <li class="breadcrumb-item">{% trans "Create first organization" %}</li>
            <li class="breadcrumb-item active">{% trans "Create administrator" %}</li>
        </div>
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Finish" %}">
    </form>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "instance_setup.svg" %}" alt="Woman checking setup steps illustration">
{% endblock %}
