{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Create first organization and administrator' %}{% endblock %}

{% block main_content %}
    <form method="post" id="admin-form">
        <h1 class="text-primary">{% trans "Welcome to your Paper Matter instance!" %}</h1>
        <p class="text-muted">
            {% blocktrans %}
                Create the first organization of your instance along with the Administrator user.
                Administrator is able to administrate the whole instance via the Admin portal, but when it come to use
                the application he can only access to this first organisation via the Login page.
            {% endblocktrans %}
        </p>
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Finish" %}">
    </form>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "instance_setup.svg" %}" alt="Woman checking setup steps illustration">
{% endblock %}
