{% extends "django_app_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Step 1/2: create first organization" %}{% endblock %}

{% block main %}
    <div class="row align-items-stretch min-vh-100">
        <main class="col pb-3 order-md-2 pb-md-0">
            <div id="main-with-aside">
                <form method="post" id="organization-form">
                    <h1 class="text-primary">{% trans "Welcome!" %}</h1>
                    <div class="breadcrumb">
                        <li class="breadcrumb-item active">{% trans "Create first organization" %}</li>
                        <li class="breadcrumb-item">{% trans "Create administrator" %}</li>
                    </div>
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Next >" %}">
                </form>
            </div>
        </main>
        <aside class="col-0 pt-3 bg-dark col-md-4 order-md-1 pt-md-0">
            <div id="login-page-illustration" class="row align-items-center">
                <div class="col">
                    <img class="w-100 mx-auto d-block" src="{% static "instance_setup.svg" %}" alt="">
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
