{% extends "django_app_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Setup completed' %}{% endblock %}

{% block main %}
    <div class="row align-items-stretch min-vh-100 align-items-md-center">
        <main class="col pb-3 order-md-2 pb-md-0">
            <div id="main-with-aside" class="row align-items-center">
                <div class="col">
                    <h1 class="text-primary">{% trans "Congratulations!" %}</h1>
                    <p>{% blocktrans %}<span class="highlight">{{ org_name }}</span> organization was created along admin user.{% endblocktrans %}</p>
                    <p>{% trans "You can now:" %}</p>
                    <ul>
                        <li>{% trans "Send this link to first organization users for them to create an account:" %}<br/> <a
                                href="{% url 'signup' org_slug %}" id="user-signup">{% trans "User signup page" %}</a></li>
                        <li>{% trans "Connect to admin pannel here:" %} <a href="{% url 'admin:index' %}"
                                                                           id="admin-login">{% trans "Admin login page" %}</a></li>
                    </ul>
                </div>
            </div>
        </main>
        <aside class="col-0 pt-3 bg-dark col-md-4 order-md-1 pt-md-0">
            <div id="login-page-illustration" class="row align-items-center">
                <div class="col">
                    <img class="w-100 mx-auto d-block" src="{% static "instance_setup_complete.svg" %}" alt="">
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
