<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ftl-app - Setup completed</title>
</head>
<body>
    <h1>Congratulations: Admin and first organization properly created !</h1>
    <p>You can now:</p>
    <ul>
        <li>Send this link to users for them to create an account in the first organization:<br/> <a href="{% url 'app:signup' org_slug %}" id="user-signup">User signup page</a></li>
        <li>Connect to admin pannel here: <a href="{% url 'admin:index' %}" id="admin-login">Admin login page</a></li>
    </ul>
</body>
</html>