{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block main %}
    <div class="row align-items-center">
        <main class="col order-md-2">
            <h1>{% trans 'Login' %}</h1>
            <div id="content-main">
                {% if user.is_authenticated %}
                    <p class="errornote">
                        {% blocktrans trimmed %}
                            You are authenticated as {{ username }}, but are not authorized to
                            access this page. Would you like to login to a different account?
                        {% endblocktrans %}
                    </p>
                {% endif %}

                <form action="{{ app_path }}" method="post" id="login-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Login' %}">
                </form>

                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                    </div>
                {% endif %}
            </div>
        </main>
        <aside class="col-0 col-md-4 order-md-1 bg-light min-vh-100">
            <p>Picto sympa à afficher ici :)</p>
        </aside>
    </div>
{% endblock %}
