{% extends "main_vcenter_with_aside.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block main_content_vcenter %}
    <form method="post" id="password-reset-form">
        <h1 class="text-primary">{% trans 'Reset password' %}</h1>
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Reset my password" %}">
    </form>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "password_forgot.svg" %}" alt="Thinking man illustration">
{% endblock %}
