{% extends "django_app_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'New password' %}{% endblock %}

{% block main %}
    <div class="row align-items-stretch bg-light min-vh-100">
        <main class="col pb-3 order-md-2 pb-md-0">
            <div id="main-with-aside" class="row align-items-center">
                <div class="col">
                    {% if validlink %}
                        <form id="password-reset-confirm" method="post">
                            <h1 class="text-primary">{% trans 'Set new password' %}</h1>
                            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                            {% csrf_token %}
                            {{ form }}
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Reset my password" %}">
                        </form>
                    {% else %}
                        <div class="alert alert-danger">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</div>
                        <a class="btn btn-lg btn-primary btn-block mb-3" href="{% url 'login' %}">{% trans 'Back' %}</a>
                    {% endif %}
                </div>
            </div>
        </main>
        <aside class="col-0 pt-3 bg-dark col-md-4 order-md-1 pt-md-0">
            <div id="login-page-illustration" class="row align-items-center">
                <div class="col">
                    <img class="w-100 mx-auto d-block" src="{% static "new_password.svg" %}" alt="">
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
