{% extends "account/account_base.html" %}
{% load i18n %}


{% block account %}
    <div class="row no-gutters">
        <div class="col-md-12">
            <h5>{% trans 'Change your password' %}</h5>
            <p class="font-italic">
                {% blocktrans %}
                    Your account is protected only with your password. Don't share it with others websites.
                    <a href="#">Please also consider enabling Two factor authentication for increased security
                        (soon)</a>.
                {% endblocktrans %}
            </p>
            <p class="highlight">
                {% blocktrans %}
                    Use a strong password for your account. Multiple random characters including special ones (!#%?) or
                    a simple passphrase composed of 5 or 6 words separated by a whitespace is enough.
                {% endblocktrans %}
            </p>
            <form action="" method="post" class="col">
                {% csrf_token %}

                <input id="id_old_password" name="old_password" type="password" class="form-control my-1"
                       placeholder="{% trans 'Old password' %}">
                {% if form.old_password.errors %}
                    <div class="my-4 alert alert-danger">
                        {% if form.old_password.errors %}
                            {% for error in form.old_password.errors %}
                                <span>{{ error|escape }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                <input id="id_new_password1" name="new_password1" type="password" class="form-control my-1"
                       placeholder="{% trans 'New password' %}">
                {% if form.new_password1.errors %}
                    <div class="my-4 alert alert-danger">
                        {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                                <spa>{{ error|escape }}</spa>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                <input id="id_new_password2" name="new_password2" type="password" class="form-control my-1"
                       placeholder="{% trans 'Confirm new password' %}">
                {% if form.new_password2.errors %}
                    <div class="my-4 alert alert-danger">
                        {% if form.new_password2.errors %}
                            {% for error in form.new_password2.errors %}
                                <spa>{{ error|escape }}</spa>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary my-4 float-right">{% trans 'Update my password' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
