{% extends "account/account_base.html" %}
{% load tz %}
{% load add_attr %}
{% load i18n %}


{% block account %}
    <div class="row no-gutters">
        <div class="col text-justify">
            <h3 class="text-primary">{% trans "User acccount settings" %}</h3>
            <p class="font-italic">
                {% trans 'You can find various settings for your user account.' %}
            </p>

            <div>
                <form method="post" id="account-settings-form">
                    {% csrf_token %}

                    <div class="form-group {% if form.lang.errors %}invalid{% endif %}">
                        <label for="{{ form.lang.id_for_label }}">{{ form.lang.label }}</label>
                        {{ form.lang|add_attr:'{"class":"form-control"}' }}
                        <small id="emailHelp" class="form-text text-muted">
                            {% trans 'Your language choice also affects the emails we might send.' %}
                        </small>
                        {% for error in form.lang.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="form-group {% if form.tz.errors %}invalid{% endif %}">
                        <label for="{{ form.tz.id_for_label }}">{{ form.tz.label }}</label>
                        {{ form.tz|add_attr:'{"class":"form-control"}' }}
                        <small id="emailHelp" class="form-text text-muted">
                            {% now "SHORT_DATETIME_FORMAT" as now_time %}
                            {% blocktrans %}
                                The current time is {{ now_time }}.
                            {% endblocktrans %}
                        </small>
                        {% for error in form.tz.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary my-4 float-right">{% trans 'Update' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
