{% extends "ftl/base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block title %}{% trans 'Account management' %}{% endblock %}
{% block head %}
    {{ ftl_account|json_script:"ftlAccount" }}
    {{ request.LANGUAGE_CODE|json_script:"locale" }}
{% endblock %}

{% block body %}
    <body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url "home" %}">Return to Paper Matter</a>
        </nav>
    </header>
    <main class="my-5 flex-grow-1">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <h3 class="text-center"><a href="{% url "account_index" %}">Account management</a></h3>
                </div>
            </div>
            <div class="row justify-content-center p-3">
                <div class="col col-sm-3 border-right">
                    <h5 class="text-center">{{ ftl_account.name }}</h5>
                    <div class="list-group">
                        <a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">Email</a>
                        <a href="{% url 'account_password' %}"
                           class="list-group-item list-group-item-action">Password</a>
                        <a href="{% url 'account_index' %}" class="list-group-item list-group-item-action disabled">Two
                            factor authentication (soon)</a>
                        <a href="{% url 'account_index' %}" class="list-group-item list-group-item-action disabled">Data
                            export (soon)</a>
                        <a href="{% url 'account_index' %}" class="list-group-item list-group-item-action disabled">Delete
                            account (soon)</a>
                        <a href="{% url 'account_index' %}" class="list-group-item list-group-item-action disabled">Paper
                            Matter settings (soon)</a>
                    </div>
                </div>
                <div class="col col-9 p-4">
                    {% block account %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3 text-muted text-center">
        {% blocktrans %}
            Paper Matter, open source software. Made with ❤ by Exotic Matter
        {% endblocktrans %}
    </footer>
    </body>
{% endblock %}
