{% extends "ftl/base.html" %}
{% load get_setting %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}
{% block head %}
    {{ ftl_account|json_script:"ftlAccount" }}
    {{ request.LANGUAGE_CODE|json_script:"locale" }}
    {% render_bundle 'common_logged_in' 'css' %}
    {% render_bundle 'app' 'css' %}
{% endblock %}

{% block body %}
    <body>
    <noscript>
        <strong>{% blocktrans %}We're sorry but Paper Matter will not work without JavaScript enabled. Please enable it
            to continue.{% endblocktrans %}</strong>
    </noscript>
    <div id="app"></div>
    </body>
    {% render_bundle 'app' 'js' %}
    {% get_setting "FTL_ENABLE_ONLY_OFFICE" as enable_only_office %}
    {% if enable_only_office %}
        <script type="text/javascript"
                src="{% get_setting "FTL_ONLY_OFFICE_SERVER_URL" %}/web-apps/apps/api/documents/api.js"></script>
    {% endif %}
{% endblock %}
