{% load render_bundle from webpack_loader %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ftl-app - Home</title>
</head>
<body>
<noscript>
    <strong>{% blocktrans %}We're sorry but ftl-app will not work without JavaScript enabled. Please enable it
        to continue.{% endblocktrans %}</strong>
</noscript>

<div id="app"></div>

{% render_bundle 'app' %}

</body>
</html>