{% extends "ftl/base.html" %}
{% load get_setting %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load static %}
{% load csp %}

{% block title %}{{ share_doc.ftl_doc.title }}{% endblock %}
{% block head %}
    <meta name="robots" content="noindex, nofollow">
    {{ request.LANGUAGE_CODE|json_script:"locale" }}
    {% render_bundle 'common_logged_in' 'css' %}
    {% render_bundle 'share_doc' 'css' %}
{% endblock %}

{% block body %}
    <body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
            <a class="navbar-brand" href="{% url "home" %}"
               title="{% trans "Paper Matter, document management system" %}">
                <img src="{% static "grays_logo.svg" %}" alt="PM Logo" class="pm-logo">
            </a>
            <h3 class="text-secondary m-0"><span id="document-share-title"
                                                 class="font-weight-bolder text-capitalize">{{ share_doc.ftl_doc.title }}</span>
            </h3>
            <a class="ml-auto btn btn-outline-secondary" href="{% url 'view_sharing_doc_download' share_doc.pid %}">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-download"
                     class="svg-inline--fa fa-file-download fa-w-12 align-text-bottom" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" height="20px">
                    <path fill="currentColor"
                          d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm76.45 211.36l-96.42 95.7c-6.65 6.61-17.39 6.61-24.04 0l-96.42-95.7C73.42 337.29 80.54 320 94.82 320H160v-80c0-8.84 7.16-16 16-16h32c8.84 0 16 7.16 16 16v80h65.18c14.28 0 21.4 17.29 11.27 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z"></path>
                </svg>
                {% trans 'Download' %}
                <span class="text-uppercase">{{ doc_ext }}</span>
            </a>
        </nav>
    </header>

    {% get_setting "FTL_ENABLE_ONLY_OFFICE" as enable_only_office %}

    {% if share_doc.ftl_doc.type == 'application/pdf' %}
        <iframe class="flex-grow-1"
                src="/assets/pdfjs/web/viewer.html?r={{ force_refresh_id }}&file=/app/share/{{ share_doc.pid }}/download#pagemode=none">
        </iframe>
    {% elif enable_only_office and share_doc.ftl_doc.type in only_office_supported_ext %}
        <div id="onlyoffice-embed-container"></div>
    {% else %}
        <main class="flex-grow-1 border rounded bg-secondary mt-2 mb-2 mr-auto ml-auto px-3">
            <div class="d-flex flex-column align-items-center">
                <p class="text-center mt-5 font-italic">
                    {% blocktrans %}
                        Preview unavailable for this document.
                    {% endblocktrans %}
                </p>
            </div>
        </main>
    {% endif %}

    {% if enable_only_office %}
        <script type="text/javascript" src="{% get_setting "FTL_ONLY_OFFICE_PUBLIC_JS_URL" %}"></script>

        {{ only_office_config|json_script:"only_office_config" }}

        <script nonce="{{ request.csp_nonce }}" type="text/javascript">
            const config = JSON.parse(document.getElementById("only_office_config").textContent);
            new DocsAPI.DocEditor(
                    "onlyoffice-embed-container",
                    config
            );
        </script>
    {% endif %}
    </body>
{% endblock %}
