{% extends 'ftl/django_app_base.html' %}
{% load static %}

{% block head %}
    <script type="application/javascript" src="{% static 'cbor.js' %}"></script>
    <script type="application/json" id="registration_data">
    {{ registration_data|safe }}
    </script>
{% endblock %}

{% block main %}
    <p>Please insert your FIDO 2 device</p>
{% endblock %}

{% block footer %}
    <script type="application/javascript">
      'use strict';

      fetch('/accounts/2fa/fido2/api/register_begin', {
        method: 'POST',
      }).then(function (response) {
        if (response.ok) return response.arrayBuffer();
        throw new Error('Error getting registration data!');
      }).then(CBOR.decode).then(function (options) {
        return navigator.credentials.create(options);
      }).then(function (attestation) {
        return fetch('/accounts/2fa/fido2/api/register_finish', {
          method: 'POST',
          headers: {'Content-Type': 'application/cbor'},
          body: CBOR.encode({
            "attestationObject": new Uint8Array(attestation.response.attestationObject),
            "clientDataJSON": new Uint8Array(attestation.response.clientDataJSON),
          })
        });
      }).then(function (response) {
        var stat = response.ok ? 'successful' : 'unsuccessful';
        alert('Registration ' + stat + ' More details in server log...');
      }, function (reason) {
        alert(reason);
      }).then(function () {
        window.location = '/';
      });
    </script>
{% endblock %}
