{% load i18n %}
{% load static %}
{% load webpack_loader %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Paper Matter - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "favicon-32.png" %}">
    {% render_bundle 'common' 'css' %}
    {% render_bundle 'animations' 'css' %}
    {% block head %}{% endblock %}
    {% block js_script_head %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>
