{% extends 'ftl/django_app_base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
    {% if static_device or totp_device or fido2_device %}
        <h1>Current OTP device registered with this account</h1>
        <h2>Emergency codes</h2>
        <ul>
            {% for static in static_device %}
                <li><a href="{% url 'otp_static_update' static.id %}">{{ static.name }} ({{ static.persistent_id }})</a>
                    - [<a href="{% url "otp_static_delete"  static.id %}">{% trans 'Delete' %}</a>]
                </li>

                <ul>
                    {% for code in static.token_set.all %}
                        <li>{{ code.token }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <a href="{% url "otp_static_add" %}">{% trans 'Add a new set of emergency code' %}</a>

        <h2>Apps authenticator</h2>
        <ul>
            {% for totp in totp_device %}
                <li><a href="{% url 'otp_totp_update' totp.id %}">{{ totp.name }} ({{ totp.persistent_id }})</a> -
                    {% if not totp.confirmed %} NOT VALIDATED {% endif %}
                    [<a href="{% url "otp_totp_delete"  totp.id %}">{% trans 'Delete' %}</a>]

                    <img src="{% url 'otp_totp_qrcode' totp.id %}" alt="qrcode"/>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url "otp_totp_add" %}">{% trans 'Add a new app authenticator' %}</a>

        <h2>Security keys (FIDO2/U2F)</h2>
        <ul>
            {% for fido in fido2_device %}
                <li><a href="{% url 'otp_fido2_update' fido.id %}">{{ fido.name }} ({{ fido.persistent_id }})</a> - [<a
                        href="{% url "otp_fido2_delete"  fido.id %}">{% trans 'Delete' %}</a>]
                </li>
            {% endfor %}
        </ul>
        <a href="{% url "otp_fido2_add" %}">{% trans 'Add a new security key' %}</a>
    {% else %}
        <h1>{% trans "Protect your Paper Matter account with two factor verification" %}</h1>
        <p>
            {% blocktrans %}
                Each time you sign-in into your Paper Matter account, you will need your usual password and a
                validation code that will be available via your phone.
            {% endblocktrans %}
        </p>
        <p>{% trans "There is no two factor device registered with this account" %}</p>
        <ul>
            <li><a href="{% url "otp_totp_add" %}">Add a second factor using an app (recommended)</a></li>
            <li><a href="{% url "otp_fido2_add" %}">Add a security key (FIDO2)</a></li>
        </ul>
    {% endif %}
{% endblock %}
