{% extends 'account/account_base.html' %}
{% load static %}
{% load i18n %}

{% block account %}
    {% if static_device or totp_device or fido2_device %}
        <h3 class="text-primary">{% trans 'Two factor authentication' %}</h3>

        <div class="my-3">
            <h4 class="">{% trans 'Emergency codes' %}</h4>
            <div>
                {% for static in static_device %}
                    <div class="border bg-white p-3 my-1">
                        <div>
                            <a href="{% url 'otp_static_update' static.id %}" title="{{ static.persistent_id }}">
                                {{ static.name }}
                            </a>
                        </div>

                        <div class="d-flex flex-row flex-wrap">
                            {% for code in static.token_set.all %}
                                <span class="mx-2"><code>{{ code.token }}</code></span>
                            {% endfor %}
                        </div>

                        <p class="text-right"><a href="{% url "otp_static_delete" static.id %}"
                                                 class="btn btn-danger btn-sm">
                            {% trans 'Delete' %}</a></p>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url "otp_static_add" %}" class="btn btn-secondary btn-sm my-3">
                {% trans 'Add a new set of emergency code' %}</a>
        </div>

        <div class="my-3">
            <h4>{% trans 'Apps authenticator' %}</h4>
            <div>
                {% for totp in totp_device %}
                    <div class="border bg-white p-3 my-1 d-flex flex-row justify-content-between align-items-center">
                        <div class="mx-2">
                            <a href="{% url 'otp_totp_update' totp.id %}"
                               title="{{ totp.persistent_id }}">{{ totp.name }}</a>

                            {% if not totp.confirmed %}
                                <a href="{% url 'otp_totp_detail' totp.id %}"
                                   title="{{ totp.persistent_id }}"
                                   class="badge badge-warning">{% trans 'Not confirmed' %}</a>
                            {% endif %}
                        </div>
                        <div class="mx-2">
                            <a href="{% url "otp_totp_delete"  totp.id %}" class="btn btn-danger btn-sm">
                                {% trans 'Delete' %}</a>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <a href="{% url "otp_totp_add" %}" class="btn btn-secondary btn-sm my-3">
                {% trans 'Add a new authenticator app' %}</a>
        </div>

        <div class="my-3">
            <h4>{% trans 'Security keys (U2F/FIDO2)' %}</h4>
            <div>
                {% for fido in fido2_device %}
                    <div class="border bg-white p-3 my-1 d-flex flex-row justify-content-between align-items-center">
                        <div class="mx-2">
                            <a href="{% url 'otp_fido2_update' fido.id %}"
                               title="{{ fido.persistent_id }}">{{ fido.name }}</a>

                        </div>
                        <div class="mx-2">
                            <a href="{% url "otp_fido2_delete" fido.id %}" class="btn btn-danger btn-sm">
                                {% trans 'Delete' %}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url "otp_fido2_add" %}"
               class="btn btn-secondary btn-sm my-3">{% trans 'Add a new security key' %}</a>
        </div>
    {% else %}
        <h3 class="text-primary">{% trans "Protect your Paper Matter account with two factor verification" %}</h3>
        <p class="font-italic">
            {% blocktrans %}
                A validation code or security key will be asked each time you sign-in, in addition to your usual login.
            {% endblocktrans %}
        </p>
        <p class="highlight">{% trans "There is no two factor device registered with this account." %}
        </p>
        <ul>
            <li><a href="{% url "otp_totp_add" %}">{% trans 'Add an authentication app (recommended)' %}</a></li>
            <li><a href="{% url "otp_fido2_add" %}">{% trans 'Add a security key (U2F/FIDO2)' %}</a></li>
        </ul>
    {% endif %}
{% endblock %}
