{% extends 'account/account_base.html' %}
{% load i18n %}

{% block account %}
    <h3 class="text-primary">{% trans 'Update the name of the device' %}</h3>

    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            <input type="text" name="name" value="" placeholder="Device name" required="required" id="id_name"
                   class="form-control">
            <small class="form-text text-muted">Indicate a name to recognize your two factor device</small>
        </div>

        <input type="submit" class="btn btn-primary" value="{% trans 'Update' %}">
        <p class="text-right"><a href="{% url 'otp_list' %}">{% trans 'Return to 2FA list' %}</a></p>
    </form>
{% endblock %}
