{% extends 'account/account_base.html' %}
{% load i18n %}

{% block account %}
    <h3 class="text-primary">{% trans 'Rename device' %}</h3>

    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label for="id_name">{% trans 'Device name' %}</label>
            <input type="text" name="name" value="{{ form.name.value }}" placeholder="{% trans 'Device name' %}"
                   required="required" id="id_name" class="form-control" onclick="this.select()">
            <small class="form-text text-muted">{% trans 'Name to recognize your two factor device' %}</small>
        </div>

        <a class="btn btn-secondary float-left" href="{% url 'otp_list' %}">{% trans 'Cancel' %}</a>
        <input type="submit" class="btn btn-primary float-right" value="{% trans 'Rename' %}">
    </form>
{% endblock %}
