{% extends 'account/account_base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <script type="application/javascript" src="{% static 'cbor.js' %}"></script>
{% endblock %}

{% block account %}
    <h3 class="text-primary">{% trans "Add a security key" %}</h3>

    <p class="font-italic">
        {% blocktrans %}
            A security key dongle is a small device that you can buy to help prove it’s you signing in: you simply have
            to connect the key to your phone, tablet, or computer.
        {% endblocktrans %}
    </p>
    <p class="highlight text-justify">
        {% blocktrans %}
            Such keys are the ones that are compatible with the U2F or FIDO2 protocol
            (Yubikey, Google Titan Security Key, etc.).<br/>
            Only recent browsers are compatible with these keys such as Google Chrome, Mozilla Firefox,
            Microsoft Edge.
        {% endblocktrans %}
    </p>

    <form id="fido-form">
        <div class="form-group">
            <label for="id_name">{% trans 'Security key name' %}</label>
            <input type="text" name="name" placeholder="{% trans 'Security key with house key' %}"
                   required="required" id="id_name" class="form-control" autofocus="autofocus">
            <small class="form-text text-muted">{% trans 'A name to identify your security key' %}</small>
        </div>
        {% if request.GET.error %}
            <div class="alert alert-danger">
                {% if request.GET.error == 'abort' %}
                    {% trans 'Browser prompt asking for the key was cancel' %}
                {% elif request.GET.error == 'not-allowed' %}
                    {% trans 'Browser prompt asking for the key was ignore or refused' %}
                {% elif request.GET.error == 'registration-begin-api' or request.GET.error == 'registration-finish-api' %}
                    {% blocktrans %}
                        Key registration failed, make sure your key type is supported. <br/>
                        Registration could also fail if page url isn't in https. <br/>
                    {% endblocktrans %}
                {% elif request.GET.error == 'network' %}
                    {% trans 'A network error occurred during key registration, try again' %}
                {% elif request.GET.error == 'cbor-decode' or request.GET.error == 'cbor-encode'%}
                    {% trans 'An internal error occured during key registration, you may have found a bug' %}
                {% elif request.GET.error == 'unknown-generic' or request.GET.error == 'unknown-generic' %}
                    {% trans 'An unknown error occured during key registration, you may have found a bug' %}
                {% elif request.GET.error == 'unexpected' %}
                    {% trans 'An unexpected error occured during key registration, you may have found a bug' %}
                {% endif %}
                <i>({% trans 'error code: ' %}{{ request.GET.error }})</i>
            </div>
        {% endif %}
        <a class="btn btn-secondary float-left" href="{% url 'otp_list' %}">{% trans 'Cancel' %}</a>
        <input id="fido2-next" class="btn btn-primary float-right" type="submit" value="{% trans 'Next' %}">
    </form>


{% endblock %}

{% block before_footer %}
    <script type="application/javascript">
        'use strict';

        const submit = document.getElementById("fido-form");

        submit.addEventListener("submit", function (event) {
            event.preventDefault();

            {# CBOR lib come from cbor.js static file, included by script tag at the top of this file #}

            fetch('{% url 'otp_fido2_api_register_begin' %}', {
                method: 'POST',
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.arrayBuffer();
                    } else {
                        throw new Error('RegistrationBeginApiError');
                    }
                })
                .then(function(value){
                    try {
                        return CBOR.decode(value);
                    } catch (e) {
                        throw new Error('CBORDecodeError');
                    }
                })
                .then(function (options) {
                    return navigator.credentials.create(options);
                    }
                )
                .then(function (attestation) {
                    const deviceName = document.getElementById("id_name").value;
                    try{
                        return CBOR.encode({
                                "attestationObject": new Uint8Array(attestation.response.attestationObject),
                                "clientDataJSON": new Uint8Array(attestation.response.clientDataJSON),
                                "name": deviceName,
                            })
                    } catch (e) {
                        throw new Error('CBOREncodeError')
                    }
                })
                .then(function (body) {
                    return fetch('{% url 'otp_fido2_api_register_finish' %}', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/cbor'},
                        body: body
                    });
                })
                .then(function (response) {
                    if (response.ok) {
                        window.location = '{% url 'otp_fido2_success'  %}';
                    } else {
                        // could occurred when page isn't loaded in https
                        throw new Error('RegistrationFinishApiError');
                    }
                }).catch(function (error) {
                    let errorCode;
                    console.error(error);

                    if('name' in error){
                        if (error.name === 'AbortError'){
                            errorCode = 'abort'
                        } else if (error.name === 'NotAllowedError'){
                            errorCode = 'not-allowed'
                        }
                        else if (error.name === 'TypeError' && 'message' in error &&
                                error.message.includes('NetworkError')){
                            errorCode = 'network'
                        } else if (error.name === 'Error'){
                            if ('message' in error){
                                if (error.message === 'RegistrationBeginApiError') {
                                    errorCode = 'registration-begin-api'
                                } else if (error.message === 'RegistrationFinishApiError') {
                                    errorCode = 'registration-finish-api'
                                } else if (error.message === 'CBORDecodeError') {
                                    errorCode = 'cbor-decode'
                                } else if (error.message === 'CBOREncodeError') {
                                    errorCode = 'cbor-encode'
                                }
                            } else {
                                errorCode = 'unknown-generic'
                            }
                        }
                        else {
                            errorCode = 'unexpected'
                        }
                    } else {
                        errorCode = 'unknown-nameless'
                    }
                    window.location = `{% url 'otp_fido2_add' %}?error=${errorCode}`;
                });
        });
    </script>
{% endblock %}
