{% extends 'account/account_base.html' %}
{% load i18n %}

{% block account %}
    <h3 class="text-primary">{% trans "Your security key has been added!" %}</h3>

    <p class="highlight">
        {% blocktrans %}
            We highly recommend you generate a set of emergency code too in case you have lost your mobile phone or
            security key.
        {% endblocktrans %}
    </p>

    <a href="{% url 'otp_static_add' %}" class="btn btn-primary">{% trans 'Generate emergency two factor codes' %}</a>
    <p class="text-right"><a href="{% url 'otp_list' %}">{% trans 'Return to 2FA list' %}</a></p>

{% endblock %}
