{% extends 'account/account_base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <script type="application/javascript" src="{% static 'cbor.js' %}"></script>
{% endblock %}

{% block account %}
    <h3 class="text-primary">{% trans "Add a security key" %}</h3>

    <p class="font-italic">
        {% blocktrans %}
            A security key dongle is a small device that you can buy to help prove it’s you signing in: you simply have
            to connect the key to your phone, tablet, or computer.
        {% endblocktrans %}
    </p>
    <p class="highlight text-justify">
        {% blocktrans %}
            Such keys are the ones that are compatible with the U2F or FIDO2 protocol
            (Yubikey, Google Titan Security Key, etc.).<br/>
            Only recent browsers are compatible with these keys such as Google Chrome, Mozilla Firefox,
            Microsoft Edge.
        {% endblocktrans %}
    </p>

    <a class="btn btn-secondary float-left" href="{% url 'otp_list' %}">{% trans 'Cancel' %}</a>
    <input id="fido2-next" class="btn btn-primary float-right" type="submit" value="{% trans 'Next' %}">
{% endblock %}

{% block before_footer %}
    <script type="application/javascript">
      'use strict';

      fetch('{% url 'otp_fido2_api_register_begin' %}', {
        method: 'POST',
      }).then(function (response) {
        if (response.ok) return response.arrayBuffer();
        throw new Error('Error getting registration data!');
      })
      {# CBOR come from cbor.js static file, included by script balise at the top of this file #}
      .then(CBOR.decode).then(function (options) {
        return navigator.credentials.create(options);
      }).then(function (attestation) {
        return fetch('{% url 'otp_fido2_api_register_finish' %}', {
          method: 'POST',
          headers: {'Content-Type': 'application/cbor'},
          body: CBOR.encode({
            "attestationObject": new Uint8Array(attestation.response.attestationObject),
            "clientDataJSON": new Uint8Array(attestation.response.clientDataJSON),
          })
        });
      }).then(function (response) {
        if (response.ok) {
          window.location = '{% url 'otp_fido2_success'  %}';
        }
      }, function (reason) {
        alert(reason);
        window.location = '{% url 'otp_list' %}';
      });
    </script>
{% endblock %}
