{% extends 'account/account_base.html' %}
{% load i18n %}

{% block account %}
    <h3 class="text-primary">{% trans "Add emergency two factor codes" %}</h3>

    <p>
        {% blocktrans %}
            We highly recommend you generate a set of emergency code in case you have lost your mobile phone or security
            key. These codes are one-time use code, namely each code will only work one (1) time.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            Please keep those codes in a safe place.
        {% endblocktrans %}
    </p>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            <input type="text" name="name" value="Emergency codes" required="required" id="id_name" class="form-control">
            <small class="form-text text-muted">Indicate a name to recognize your two factor device</small>
        </div>
        <input class="btn btn-primary" type="submit" value="Generate code">
    </form>

    <p class="text-right"><a href="{% url 'otp_list' %}">{% trans 'Return to 2FA list' %}</a></p>
{% endblock %}
