{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Two-step Verification" %}{% endblock %}

{% block main_content %}
    <h1 class="text-primary">
        {% trans "Two-step Verification" %}
    </h1>

    <p>{% trans "This extra step shows that it’s really you trying to sign in" %}</p>

    <form method="post" id="user-form">
        {% csrf_token %}
        {{ form }}

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Verify" %}">
    </form>

    <p>{% trans "Try another way" %}</p>
    <ul>
        <li><a href="{% url "otp_fido2_check" %}">{% trans "Use your security key" %}</a></li>
        <li><a href="{% url "otp_totp_check" %}">{% trans "Use a code from your authentication app" %}</a></li>
    </ul>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "user_setup.svg" %}" alt="Signup steps illustration">
{% endblock %}
