{% extends 'account/account_base.html' %}
{% load i18n %}

{% block account %}
    <h3 class="text-primary">{% trans "Add an app authenticator" %}</h3>
    <p>
        {% blocktrans %}
            Use an app on your phone to generate validation code. In the app, scan the QR code that will be shown next
            page.
        {% endblocktrans %}
    </p>
    <div>
        <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2'>
            <img alt='Get it on Google Play' width="135"
                 src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
        </a>
        <a href="https://apps.apple.com/us/app/google-authenticator/id388497605?mt=8">
            <img alt="Get it on iOS App Store"
                 src="https://linkmaker.itunes.apple.com/fr-fr/badge-lrg.svg?releaseDate=2010-09-20&kind=iossoftware&bubble=ios_apps"
                 width="135"/>
        </a>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            <input type="text" name="name" value="App authenticator" required="required" id="id_name" class="form-control">
            <small class="form-text text-muted">Indicate a name to recognize your two factor device</small>
        </div>
        <input class="btn btn-primary" type="submit" value="{% trans "Next" %}">
    </form>

    <p class="text-right"><a href="{% url 'otp_list' %}">{% trans 'Return to 2FA list' %}</a></p>
{% endblock %}
