{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}
{% load webpack_loader %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block head %}{% render_bundle 'common_logged_out' 'css' %}{% endblock %}

{% block main_content %}
    <form method="post" id="organization-form">
        <h1 class="text-primary">{% trans "Create your account" %}</h1>
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Create account" %}">
    </form>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "user_setup.svg" %}" alt="Woman checking setup steps illustration">
{% endblock %}

{% block footer %}
    <script type="application/javascript">
        "use strict";
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        const tz_input = document.getElementById("id_tz");
        tz_input.value = tz;
    </script>
{% endblock %}
