{% extends "ftl/main_vcenter_with_aside.html" %}
{% load i18n %}
{% load static %}
{% load webpack_loader %}

{% block title %}{% trans 'New password' %}{% endblock %}
{% block head %}{% render_bundle 'common_logged_out' 'css' %}{% endblock %}

{% block main_content_vcenter %}
    {% if validlink %}
        <form id="password-reset-confirm" method="post">
            <h1 class="text-primary">{% trans 'Set new password' %}</h1>
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Reset my password" %}">
        </form>
    {% else %}
        <div class="alert alert-danger">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</div>
        <a class="btn btn-lg btn-primary btn-block mb-3" href="{% url 'login' %}">{% trans 'Back' %}</a>
    {% endif %}
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "new_password.svg" %}" alt="Woman typing password illustration">
{% endblock %}
