{% extends "ftl/base_email_body.txt" %}
{% load i18n %}
{% block body %}
{% blocktrans %}You're receiving this email because a password reset have been requested for your user account at {{ site_name }}.
Be aware resetting your password will also revoke third party apps access to your account. You will have to authorize them again.
Follow the link below to proceed:{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "This link is valid for 3 days, after that you will need to request a new password reset." %}

{% trans "If you don't requested this change, you can ignore this email." %}
{% endblock %}
