{% extends "ftl/main_with_aside.html" %}
{% load i18n %}
{% load static %}
{% load webpack_loader %}

{% block title %}{% trans 'Signup' %}{% endblock %}
{% block head %}{% render_bundle 'login' 'css' %}{% endblock %}

{% block main_content %}
    <form method="post" id="user-form">
        <h1 class="text-primary">{% blocktrans %}Create your account in <span class="highlight">{{ org_name }}</span> organization{% endblocktrans %}</h1>
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Signup" %}">
    </form>
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "user_setup.svg" %}" alt="Signup steps illustration">
{% endblock %}
