{% extends "ftl/main_vcenter_with_aside.html" %}
{% load i18n %}
{% load static %}
{% load webpack_loader %}

{% block title %}{% trans 'Account could not be activated' %}{% endblock %}
{% block head %}
    {% render_bundle 'common_logged_out' 'css' %}
{% endblock %}

{% block main_content_vcenter %}
    <h1 class="text-primary">{% trans "We could not activate the account..." %}</h1>
    <p>{% trans activation_error.message %}</p>
{% endblock %}s

{% block aside_illustration %}
    <img src="{% static "activation_email_failed.svg" %}" alt="Email received illustration">
{% endblock %}
