{% extends "ftl/main_vcenter_with_aside.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Account could not be activated' %}{% endblock %}

{% block main_content_vcenter %}
    <h1 class="text-primary">{% trans "We could not activate the account..." %}</h1>
    <p>{% trans activation_error.message %}</p>
    {% if False %}
        {# FIXME: Hack to add missing translations for Django registration module, this if block can be removed when
        after this MR have been merged and module have been updated:
        https://github.com/ubernostrum/django-registration/pull/201#}
        <ul>
            <li>{% trans "The account you attempted to activate is invalid." %}</li>
            <li>{% trans "This account has expired." %}</li>
            <li>{% trans "The activation key you provided is invalid." %}</li>
            <li>{% trans "The account you tried to activate has already been activated." %}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block aside_illustration %}
    <img src="{% static "activation_email.svg" %}" alt="Email received illustration">
{% endblock %}
